[Desktop Entry]
Type=Application
Name=VOCO
Comment=The voice layer for Linux, starting with dictation
Keywords=dictation;voice;speech;speech-to-text;typing;
Exec=voco
Icon=voco
Terminal=false
Categories=AudioVideo;Audio;
StartupNotify=false
StartupWMClass=voco
